<a href="https://colab.research.google.com/github/onehowon/ormi3/blob/main/emptypaper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = 10.1
c = -1
d = True
e = 'good'
f = '10'
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j
k = 0b110
l = 0o56
m = 0xAC

def hello():
  return

class A:
  pass

n = hello
o = print
p = lambda x:x**2
q = int
r = A
s = A()

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

type(10) : <class 'int'>
type(10.1) : <class 'float'>
type(-1) : <class 'int'>
type(True) : <class 'bool'>
type('good') : <class 'str'>
type('good'.upper) : <class 'builtin_function_or_method'>
'10' + '10' : 1010
'10' * 3 : 101010
'hong' + 'gildong' : kimhonggildong
type('gildong') : <class 'str'>
type('gildong100!!') : <class 'str'>
type(10 + 2j) : <class 'complex'>
type(0b110) : <class 'int'>
6
type(0o56) : <class 'str'>
example
type(0xAC) : <class 'int'>
172
type(def func():...생략...) : <class 'function'>
type(print) : <class 'builtin_function_or_method'>
type(lambda x:x**2) : <class 'function'>
type(int) : <class 'type'>

In [ ]:
x = 10
x= 20
print(x)

20

In [ ]:
x = [10,20]
y = x
z = y
x = 100
x, y ,z

(100, [10, 20], [10, 20])

In [ ]:
a = input("a를 입력하세요")
a

a를 입력하세요5

'5'

In [ ]:
print('제 이름은 %s입니다. 제 나이는 %d입니다.'%("원호",17))

제 이름은 원호입니다. 제 나이는 17입니다.

In [ ]:
A = 486
B = 0b100
C = 0o56
D = 0xAC
E= 3.14
F = 4-4j

print(type(A))
print(type(B))
print(type(C))
print(type(D))
print(type(E))
print(type(F))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
s='10'
float(s)

s='10000'
float(s)

10000.0

In [ ]:
name='leehojun'
tuple(name)

('l', 'e', 'e', 'h', 'o', 'j', 'u', 'n')

In [ ]:
name='leehojun'
dict(name)

s=[('name', 'leehojun'),('age',10)]
d=dict(s)
d

ValueError: ignored

In [ ]:
user = str(input())
if user == 'abc':
  print(user+'abc')

a

In [ ]:
num = 123456789
s = str(num)
l = list(s)
s
print(s[4])

5

In [ ]:
a = 100
(a > 100) and (a< 200)
(a > 100) or (a < 200)
(a >=100) and (a <=200)
(a >=100) or (a <=200)

True

In [ ]:
b = 25
(b%2 ==0) and (b%5 == 0)

In [ ]:
c = 1000

In [ ]:
money = int(input("교환할 금액을 입력하세요: "))

num_5000 = money // 5000
money = money - num_5000*5000

num_1000 = money // 1000
money = money - num_1000 * 1000

num_500 = money // 500
money = money - num_500 * 500

num_100 = money // 100
money = money - num_100 * 100

print("5000원 지폐:", num_5000)
print("1000원 지폐:", num_1000)
print("500원 지폐:", num_500)
print("100원 지폐:", num_100)

교환할 금액을 입력하세요: 58450
5000원 지폐: 11
1000원 지폐: 3
500원 지폐: 0
100원 지폐: 4

In [ ]:
def 부지매입():
  pass

def 설계도면작성():
  pass

def 인력모집():
  pass

def 벽돌쌓기():
  pass

def 지붕올리기():
  pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [ ]:
def function(x,y):
  z = x+y
  return z
print('function(5,7)=', function(5,7))

function(5,7)= 12

In [ ]:
PI = 3.14
def circle(r, inputpi):
  z = r*r*inputpi
  return z

result = circle(10, PI)
print(result)

314.0

In [ ]:
def f(a,b,c):
  print(a,b,c)

f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

100 200 300
100 200 300

In [ ]:
a = 100
def f():
  global a
  a = a + 1
f()

In [ ]:
x = 10
def addx():
  global x
  x = x+1
  return x
result = addx()
print("result: ", result)

result:  11

In [ ]:
def 숫자출력(count):
  if count > 100:
    return
    print(count)
    return 숫자출력(count+1)

숫자출력(1)

In [ ]:
def 시그마(n):
  if n == 1:
    return 1
  else:
    return n + 시그마(n-1)
시그마(100)

5050

In [ ]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')

    print('I')
    함수2()
    return "python"


a = 함수1()
print(a)

I
love
python

In [ ]:
def plus(num1, num2):
  return num1 + num2

def minus(num1, num2):
  return num1 - num2

def multiply(num1, num2):
  return num1 * num2

def divide(num1, num2):
  return num1 / num2

print(f'plus : {plus(10,5)}')
print(f'minus : {minus(10,5)}')
print(f'multiply : {multiply(10,5)}')
print(f'divide : {divide(10,5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [ ]:
def power(x, n):
  if n == 0:
    return 1
  else:
    return x * power(x, n-1)

In [ ]:
a = [1,2,3,4,5]

In [ ]:
a[0] = 10000
a

b=[['a','b','c'],[1,2,3]]
b[1][2]

s = 'leehojun'
s[0]
s[0] = 'k'

In [ ]:
a = [10000, 2, 1, 3]
print(type(a))

a = list
print(type(a))

a = list('leehojun')
print(type(a))
a
a[0]

In [ ]:
square_gen = (x**2 for x in range(10))
gen = (i for i in range(2, 1000000, 2))
for i, j in zip(range(10), gen):
  print(i, j)

0 2
1 4
2 6
3 8
4 10
5 12
6 14
7 16
8 18
9 20

In [ ]:
def test(i):
  match i:
    case 1:
      print("One")
    case 2:
      print("Two")
    case 3 | 4:
      print("Three of Four")
    case _ if i > 10:
      print("Greater than ten")
    case _:
      print("Other")

test(1)
test(2)
test(3)
test(4)
test(5)
test(15)

One
Two
Three of Four
Three of Four
Other
Greater than ten

In [2]:
def solution(new_id):
  new_id = str(new_id).lower()
  step2 = ''
  for i in new_id:
    if i.isalnum() or i in '-_.':
      step2 += i
  while '..' in step2:
    step2 = step2.replace('..', '.')
  new_id = step2
  new_id = new_id.replace('=', '')
  if new_id[-1] == '.':
    new_id = new_id[:-1]
  if new_id != "" and new_id[0] == '.':
    new_id = new_id[1:]
  if new_id == '':
    new_id = 'a'
  if len(new_id) >= 15:
    new_id = new_id[:15]
  if new_id[-1] == '.':
    new_id = new_id[:-1]
  if len(new_id) <= 2:
    new_id = new_id + new_id[-1] * 3
    new_id = new_id[:3]
  answer = new_id
  return answer

solution('...!@bat#*..yabcdsfadgklim')

'bat.yabcdsfadgk'